a {
  color: #2e2e2e;
}
a:hover {
  color: #8d8d8d;
}

.ui.teal.header {
  color: #2e2e2e !important;
}
.ui.teal.button,
.ui.teal.buttons .button {
  background-color: #8d8d8d;
}
.ui.teal.button:hover,
.ui.teal.buttons .button {
  background-color: #4d4d4d;
}
.sigColor {
  color: #22b573;
}

.sigBgColor {
  background-color: #22b573;
}

.alert {
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}

.headerSpace {
  height: 80px;
}

.signform {
  margin-top: 30px;
}

.mainFrame {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.feedBox {
  border: 0 solid lightgray;
}

.feedImage {
  width: 600px;
  display: inline-block;
}

.feedContent {
  width: 298px;
  display: inline-block;
}

.feedSpace {
  height: 50px;
}

.ui[class*="top fixed"].menu {
  border-bottom: none;
}

.ui.fixed.menu,
.ui[class*="top fixed"].menu {
  left: auto;
}

.ui.menu.fixed {
  max-width: 900px;
}
