.FeedBox_username {
  padding-left: 1rem;
}
@media only screen and (max-width: 767px) {
  .FeedBox_username {
    padding-left: 5px;
  }
}

.FeedBox_user-info {
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media only screen and (max-width: 767px) {
  .FeedBox_user-info {
    padding-left: 0rem !important;
  }
}
.FeedBox_dateFromNow {
  color: rgb(146, 146, 146);
  padding-left: 1rem;
}
